{
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true,
         "modules": true
      }
   },
   "env": {
      "browser": true,
      "jest": true,
      "node": true
   },
   "extends": "airbnb",
   "parser": "babel-eslint",
   "plugins": [
      "babel",
      "import",
      "react"
   ],
   "rules": {
      "arrow-parens": 0,
      "global-require": 0,
      "import/no-unresolved": 2,
      "import/named": 2,
      "import/default": 2,
      "import/namespace": 2,
      "import/export": 2,
      "import/no-extraneous-dependencies": 0,
      "import/no-mutable-exports": 2,
      "import/no-commonjs": 2,
      "import/no-amd": 2,
      "import/imports-first": 2,
      "import/no-duplicates": 2,
      "import/newline-after-import": 0,
      "import/prefer-default-export": 0,
      "indent": [2, 3, { "SwitchCase": 1 }],
      "linebreak-style": 0,
      "no-use-before-define": 0,
      "react/jsx-filename-extension": 0,
      "react/jsx-indent": [2, 3],
      "react/jsx-indent-props": [2, 3],
      "react/jsx-space-before-closing": 0,
      "react/require-extension": 0,
   },
   "settings": {
      "import/resolver": {
         "webpack": {
            "config": "webpack.config.dev.babel.js"
         }
      }
   }
}
